<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>" xml:lang="<%= I18n.locale.to_s %>" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Swagger UI</title>
    <%= javascript_include_tag :swagger_ui %>
    <%= stylesheet_link_tag :swagger_ui, :media => :all %>
    <%= csrf_meta_tags %>

    <style>
      .swagger-ui-wrap {
        max-width: 80%;
        min-width: 960px;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
    <script>
      
      $(function(){
        $.ajaxPrefilter(function(o, options){
          options.headers = { 'X-CSRF-Token': '#{form_authenticity_token.to_s}' }
        });      
      });

      $(function () {
        window.swaggerUi = new SwaggerUi({
          discoveryUrl: '<%= "http://#{request.host}:#{request.port}/api/swagger_doc.json" %>',
          apiKey:"",
          dom_id:"swagger-ui-container",
          supportHeaderParams: false,
          supportedSubmitMethods: ['get', 'post', 'put', 'delete']
        });
        window.swaggerUi.load();
      });


    </script>
  </head>
  <body>
    <div id="header">
      <div class="swagger-ui-wrap">
        <a href="http://swagger.wordnik.com" id="logo">Swagger</a>
        <form id="api_selector">
          <div class="input">
            <input id="input_baseUrl" name="baseUrl" placeholder="http://example.com/api" type="text"></input>
          </div>
          <div class="input">
            <input id="input_apiKey" name="apiKey" placeholder="api_key" type="text"></input>
          </div>
          <div class="input">
            <a href="#" id="explore">Explore</a>
          </div>
        </form>
      </div>
    </div>
    <div class="swagger-ui-wrap" id="message-bar">&nbsp;</div>
    <div class="swagger-ui-wrap" id="swagger-ui-container"></div>
  </body>
</html>

